<nav class="navbar navbar-expand navbar-dark bg-dark navigacija">

    <a class="navbar-brand" href="#">News</a>


    <div class="nav navbar-nav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/sources']">Sources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/top_headlines']">Top headlines</a>
            </li>

        </ul>

        <div class="navbar-nav m-auto">
            <a class="nav-link" [routerLink]="['/saved_articles']">Saved articles</a>
        </div>
    </div>

</nav>